* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and borders are included in the total width/height */
  user-select: none;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Ensure the container takes up the full viewport height */
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "details circle";
  background-color: black;
}

.title {
  background-color: cadetblue;
}

.details {
  grid-area: details;
  display: grid;
  grid-template-columns: 1fr; /* 1 column */
  z-index: 1000;
  font-size: 0.75rem;
  font-family: "Courier New", Courier, monospace;
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
  align-content: center;
  opacity: 0; /* Start as invisible */
  transform: translateY(-20px); /* Start slightly off-screen */
  visibility: hidden; /* Make it hidden when opacity is 0 */
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s; /* Add transition for smooth effect */
}

.details.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Back to normal position */
  visibility: visible; /* Make it visible */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.details.hidden {
  display: none;
}

.details label {
  font-family: Arial, Helvetica, sans-serif;
}

.details p {
  font-size: 1rem;
  margin: 1%;
  transition: transform 0.25s ease-in-out; /* Smooth transition for movement */
}

.daysRemain {
  margin-top: 1rem;
  font-size: 2rem;
  transition: transform 0.25s ease-in-out; /* Smooth transition for movement */
}

.daysRemain:hover {
  transform: scale(1.1);
}

.controls {
  grid-area: controls;
  margin: 1rem;
  padding: 1rem;
}

svg {
  justify-self: center;
  align-self: center;
}

.circle {
  grid-area: circle;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.25s ease-in-out; /* Smooth transition for movement */
}

.circle:hover {
  transform: scale(1.1);
}

.ball {
  position: absolute; /* Absolute positioning inside the circle */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -100%
  ); /* Initially at the top-center of the circle */
  transition: transform 0.5s ease-in-out; /* Smooth transition for movement */
}

.bitcoin {
  scale: 0.9;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
  }

  .circle {
    transform: scale(0.8);
  }

  .circle:hover {
    transform: scale(1);
  }

  .details labels {
    font-size: 0.5rem;
  }

  .details p {
    font-size: 0.75rem;
  }

  .daysRemain {
    font-size: 1rem;
  }
}

@media only screen and (orientation: landscape) {
  .circle {
    transform: scale(1);
  }

  .details labels {
    font-size: 0.5rem;
  }

  .details p {
    font-size: 0.75rem;
  }

  .daysRemain {
    font-size: 1rem;
  }
}
